{
  "check-coverage": true,
  "cache": false,
  "lines": 90,
  "statements": 90,
  "functions": 90,
  "branches": 90,
  "extension": [".ts"],
  "reporter": ["html", "lcov", "text", "text-summary"],
  "include": ["src"]
}